body,html{
    height: 100%;
}
.nav-menu,
.nav-menu * {
  margin: 0;
  padding: 0;
  list-style: none;
}
header.fixed-top{
    z-index: 10; 
    background-color: white; 
    box-shadow: 0px 1px 10px black;
}

.box-shadow{
  box-shadow: 2px 2px 15px black;
  border-radius: 20px;
  /* display: inline-block; */
  padding: 10px 20px;
}
.box-shadow-image{
  /* box-shadow: 2px 2px 10px black; */

  object-fit: cover;
  background-color: transparent;
  z-index: 2;
  text-align: right;
  margin-top: -50px;
}
.nav-menu ul {
  position: absolute;
  display: none;
  top: 100%;
  left: 0;
  z-index: 99;
}
.section-header h2 {
    font-size: 32px;
    color: #0c2e8a;
    text-transform: uppercase;
    font-weight: 700;
    position: relative;
    padding-bottom: 20px;
  }
  
  .section-header h2::before {
    content: '';
    position: absolute;
    display: block;
    width: 50px;
    height: 3px;
    background: #50d8af;
    bottom: 0;
    left: 0;
  }
.section{
    margin-top: 20%;
}
.nav-menu li {
  position: relative;
  white-space: nowrap;
}

.nav-menu > li {
  float: left;
}

.nav-menu li:hover > ul,

.nav-menu a {
    padding: 10px 3em;
    text-decoration: none;
    display: inline-block;
    color: #555;
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 14px;
    outline: none;
  }
.nav-menu a.menu{
    color:white;
    font-size: 20px;
}
  .nav-menu li:hover > a,
  .nav-menu .menu-active > a {
    color: #50d8af;
  }
  .title{
    padding: 10px 8px;
    text-decoration: none;
    display: inline-block;
    color: #555;
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 14px;
    outline: none;
  }
.burger{
    width: 30px;
    display:none;
    margin-right: 5rem;
    cursor: pointer;
}
.burger>div{
    width: 100%;
    height: 5px;
    margin-top: 3px;
    background-color: black;
    transition: all 0.5s ease-in;
}




.nav-menu-responsive{
    -webkit-transition: all 2s ease-in;
-moz-transition: all 2s ease-in;
-o-transition: all 2s ease-in;
transition: all 2s ease-in;
}
@keyframes SlideMenu{
    from{
        right: -100%;
    }
    to{
        right:0%;
    }
}
@keyframes SlideMenuReverse{
    from{
        right: 0%;
    }
    to{
        right:-100%;
    }
}
@media only screen and (max-width:991px){
  .w-4{
    align-self: center;
    min-width: 70%;
  }
}
@media only screen and (max-width:630px){
    .burger{
        display: inline-block;
    }
    /* ul.nav-menu{
        display: none;
    } */
    /* header.fixed-top{
        height: 13% !important;
    } */
    .nav-menu{
        display: none;
    }
    .nav-menu-responsive{
        position: absolute;
        top: 0px;
        right: -100%;
    }
    #checkShow2[type=checkbox]:checked + main{
        height: 100%;
    }
    #checkShow2[type=checkbox]:checked + main>div>nav>ul.nav-menu-responsive{
        display: flex;
        animation-name: SlideMenu;
        animation-duration: 0.5s;
        position: fixed;
        top: 0px;
        right: 0%;
        width: 40%;
        height: 100%;
        flex-direction: column;
        justify-content: center;
        z-index: 100;
        background-color: #b5b4b1;
    }
    #checkShow[type=checkbox]:checked + div>div:first-child{
        transform: rotate(45deg) translate(5px,5px);
        background-color: white;
    }
    #checkShow[type=checkbox]:checked + div>div:last-child{
        transform: rotate(-45deg) translate(6px,-6px);
        background-color: white;
    }
    #checkShow[type=checkbox]:checked + div>div:nth-child(2){
        opacity: 0;
    }
    #nav-menu-container ul li{
        opacity: 0;
        right: -20%;
    }
    .box-blended{
    top:-10em !important;
    }
	
}

#checkShow{
    display: none;
}
#checkShow2{
    display:none;
}

/* #nav-menu-container ul li{
} */
.image-background{
    background-image: url(../images/bg.png);
    background-size: cover;
    background-repeat: no-repeat;
    /* resize: both; */
    background-attachment: fixed;
    height: 100% !important;
    width: 100%;
    background-position: center;
}
.box-blended{
    position: relative;
    left: 20%;
    top:-15em;
    border-radius: 30px;
    padding: 2% 4%;
}
.profil{
    border-radius: 50%;
    width: 50%;
    height: auto;
    margin:0px auto;
}

.textStyle{
  font-family: "Arial Black", Gadget, sans-serif;
  font-size: 25px;
  letter-spacing: 1.5px;
  word-spacing: 2px;
  color: black;
  font-weight: normal;
  text-decoration: none;
  font-style: normal;
  font-variant: normal;
  text-transform: none;
}
.quote-sign-left {
    margin-top: -15px;
    padding-right: 10px;
    display: inline-block;
    width: 37px;
  }
  
.quote-sign-right {
    margin-bottom: -15px;
    padding-left: 10px;
    display: inline-block;
    max-width: 100%;
    width: 37px;
  }
@keyframes FadeUp{
    from{
        transform: translateY(100%);
        opacity: 0;
    }
    to{
        transform: translateY(0%);
        opacity: 1;
    }
}
.profilCard{
    position: relative;
    margin-top: 10% !important;
    margin-bottom: 10% !important;
}

.animationFadeUp{
    animation-name: FadeUp;
    animation-duration: 1s;
}
.w-6{
  width:60%;
}
.wow{
  margin: 5em 0px;
}
.w-4{
  width: 40%;
}
.textStyleQuote{
    text-align: center;
    font-family: "Comic Sans MS", cursive, sans-serif;
font-size: 20px;
letter-spacing: 0px;
word-spacing: 0px;
color: white;
font-weight: 400;
text-decoration: none solid rgb(68, 68, 68);
font-style: italic;
font-variant: normal;
text-transform: none;
}

.footer{
    position: relative;
    bottom:0;
	width:100%;
	padding:1rem;
	background-color: #333;
	color:#fff;
	text-align:center;
	
}

.loginText{
    font-family: 'Nunito Sans', sans-serif;
    font-size: 30px;
}
.form{
    backdrop-filter: blur(10px);
    height: 50%;
    width: 50%;
    background-color: rgba(255,255,255, 0.4);;
    border-radius: 20px;
    margin: auto auto;
    position: relative;
    top: 25%;
    z-index: 2;
}
.form-input{
    margin:auto;
    background-color: white;
    border-radius: 50px;
    height: 15%;
    width: 60%;
}

  #about-us {
    padding: 30px 0;
  }
  
  #about-us .about-us-item {
    box-sizing: content-box;
    padding: 30px 30px 0 30px;
    margin: 30px 15px;
    text-align: center;
    min-height: 350px;
    box-shadow: 0px 2px 12px rgba(0, 0, 0, 0.08);
  }
  
  #about-us .about-us-item .about-us-img {
    width: 90px;
    border-radius: 50%;
    border: 4px solid #fff;
    margin: 0 auto;
  }
  
  #about-us .about-us-item h3 {
    font-size: 18px;
    font-weight: bold;
    margin: 10px 0 5px 0;
    color: #111;
  }
  
  #about-us .about-us-item h4 {
    font-size: 14px;
    color: #999;
    margin: 0;
  }
  
  #about-us .about-us-item .quote-sign-left {
    margin-top: -15px;
    padding-right: 10px;
    display: inline-block;
    width: 37px;
  }
  
  #about-us .about-us-item .quote-sign-right {
    margin-bottom: -15px;
    padding-left: 10px;
    display: inline-block;
    max-width: 100%;
    width: 37px;
  }
  
  #about-us .about-us-item p {
    font-style: italic;
    margin: 0 auto 15px auto;
  }
  
  #about-us .owl-nav,
  #about-us .owl-dots {
    margin-top: 5px;
    text-align: center;
  }
  
  #about-us .owl-dot {
    display: inline-block;
    margin: 0 5px;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background-color: #ddd;
  }
  
  #about-us .owl-dot.active {
    background-color: #50d8af;
  }
  
  
  @media (max-width: 768px) {
   
    #about-us .about-us-item {
      margin: 30px 10px;
    }
  }
  
 .backdrop-container{
   backdrop-filter: blur(5px);
 }